@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/* universal design */

body {
  padding-top: 60px;
  background-image: url("book.jpg");
  background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  	margin-bottom: 30px;
  }
}


/* specific design */

h1 {
	font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
	text-align: center;
	line-height: 1;
  font-family: "League Gothic"
}

/* For the crew page */
h4 {
  font-size: 1em;
  margin-bottom: 30px;
  line-height: 1;
  font-family: "League Gothic";
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 3.0em;
  color: #000000;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  font-family: "League Gothic";
  &:hover{
    color: #000000;
    background: none;
    text-decoration: none;
  }
}

#home, #crew, #about, #help{
  color: #000000;
  font-weight: bold;
  font-family: "League Gothic";
  font-size: 1.5em;
  &:hover {
    color: #000000;
  }
  &:link{
    color: #000000;
  }
  &:active{
    color: #000000;
  }
  &:visited{
    color: #000000;
  }
}

/* The bar on the top */
.navbar{
  background-color: #FFFFFF; 
  opacity: 0.5; 
  filter: alpha(opacity=50);
}

.jumbotron{
  background-color: #FFFFFF;
  background: rgba(255, 255, 255, 0.5);
  font-family: "League Gothic";
  font-size: 1.8em;
  line-height: 1;
  margin-top: 5%;
}

.img-rounded{
  text-align: center;
}

.home{
  background-image: url("book.jpg");
  background-size: cover;
}
.about{
  background-image: url("bus.jpg");
  background-size: cover;
}
.crew{
  background-image: url("school.jpg");
  background-size: cover;
}
.contact{
  background-image: url("coffe.jpg");
  background-size: cover;
}

.glyphicon{
  margin-bottom: 15px;
}

.linkedin, .github, .user, .email, .yeslink, .nolink, .resultprof, .letsgo{
  color: #303030;
  font-family: "League Gothic";
  &:hover{
    color: #303030;
    background: none;
    text-decoration: none;
  }
  &:link{
    color: #303030;
  }
  &:active{
    color: #303030;
  }
  &:visited{
    color: #303030;
  }
}

#jumbotop3{
  margin:50px 0px; padding:0px;
  text-align:center;
}

#top3text{
  width:500px;
  margin:0px auto;
  text-align:left;
  padding:15px;
  border:1px dashed #333;
  background-color:#000;
}

h2 {
  font-size: 2em;
  letter-spacing: 0px;
  margin-bottom: 5px;
  text-align: none;
  line-height: 1;
  font-family: "League Gothic"
}

#welcomepage{
  text-align: left;
}

.letsgo1{
  text-align: center;
}

h5 {
  font-size: 1em;
  letter-spacing: 0px;
  margin-bottom: 5px;
  text-align: none;
  line-height: 1;
  font-family: "League Gothic"
}