= provide(:title, "About")

<body class="about">
	<div class="center jumbotron", id:"aboutpage">
		h1 'Mining LinkedIn' is a project made at Complutense University of Madrid, as part of a course in big data and data mining the spring of 2015.
	</div>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65698944-1', 'auto');
  ga('send', 'pageview');

</script>