= provide(:title, "Help")

<body class="contact">
	<div class="jumbotron", id:"crewpage">
		<span class="fa-stack fa-lg">
			<i class="fa fa-square fa-stack-2x"></i>
			<i class="fa fa-user fa-stack-1x fa-inverse"></i>
		</span> 
		<a href="#" class="user"> William Hedén</a><br>
		<span class="fa-stack fa-lg">
		  <i class="fa fa-square fa-stack-2x"></i>
		  <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
		</span>
		<a href="mailto:pwheden@gmail.com" class="email"> pwheden@gmail.com</a><br>
		<span class="fa-stack fa-lg">
		  <i class="fa fa-square fa-stack-2x"></i>
		  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
		</span>
		<a href="https://github.com/pwheden" target="_blank" class="github"> pwheden</a><br>
		<span class="fa-stack fa-lg">
		  <i class="fa fa-square fa-stack-2x"></i>
		  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
		</span>
		<a href="https://se.linkedin.com/in/williamheden" target="_blank" class="linkedin"> William Hedén</a>
	</div>
</body>


<!--	<div class="jumbotron", id:"crewpage">
		<span class ="fa fa-user" style="vertical-align:none"></span> William Hedén
		br
		<span class="fa fa-envelope-o" style="vertical-align:none"></span> pwheden@gmail.com
		br
		<span class="fa fa-github" style="vertical-align:none"></span><a href="https://github.com/pwheden"> pwheden</a>
		br
		<span class="fa fa-linkedin" style="vertical-align:none"></span><a href="https://se.linkedin.com/in/williamheden"> William Hedén</a>
		</div>